.header {
  padding: 42px 0px;
  @media screen and (max-width: $sm) {
    padding: 15px 0px;
  }
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  &__sitename {
    user-select: none;
    font-family: 'Proxima Nova';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #3c3d42;
    margin-right: 34px;
    @media screen and (max-width: $sm) {
      font-size: 15px;
      margin-right: 7vw;
    }
  }
  &__nav {
    user-select: none;
    width: 308px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: $sm) {
      width: 55vw;
    }
  }
  &__nav-element {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #747a7a;
    &_active {
      color: #3c3d42;
    }
    @media screen and (max-width: $sm) {
      font-size: 11px;
    }
  }
  &__contacts {
    margin: 0px 0px 0px auto;
    display: flex;
    justify-content: space-between;
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #3c3d42;
    & > a:hover {
      color: #5dca88;
    }
    @media screen and (max-width: $sm) {
      font-size: 10px;
      margin-top: 15px;
    }
  }
  &__phone {
    position: relative;
    margin-right: 20px;
    &:before {
      content:url("../assets/img/phone.png");
      margin-right: 10px;
      @media screen and (max-width: $sm) {
        content:'';
        background: no-repeat center / contain url("../assets/img/phone.png");
        width: 10px;
        height: 10px;
        position: absolute;
        left: -15px;
      }
    }
  }
  &__email{
    position: relative;
    @media screen and (max-width: $sm) {
      margin-left: 3vw;
    }
    &:before {
      content:url("../assets/img/email.png");
      margin-right: 10px;
      @media screen and (max-width: $sm) {
        content:'';
        background: no-repeat center / contain url("../assets/img/email.png");
        width: 12px;
        height: 10px;
        position: absolute;
        left: -17px;
      }
    }
  }

}
